@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    <li><a class="nav-link text-dark" asp-area="" asp-controller="Device" asp-action="Index">Device</a></li>
</ul>

<ul>
    <li><a asp-action="index" asp-controller="tester">Tester page</a></li>
    <li><a asp-action="index" asp-controller="analyzer">Analyzer page</a></li>
    <li><a asp-action="index" asp-controller="admin">Admin page</a></li>
</ul>