@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <tr>
            <td colspan="4"><img src="/images/analyzer-process.jpg"</td>
        </tr>
        <tr>
            <td width="25%" align="center">
                <a asp-action="index" asp-controller="SInit">Admin page</a>
            </td>
            <td width="25%" align="center">
                <a asp-action="index" asp-controller="STester">Tester page</a>
            </td>
            <td width="25%" align="center">
                <a asp-action="index" asp-controller="SAnalуzer">Analyzer page</a>
            </td>
            <td width="25%" align="center">
                <a asp-action="index" asp-controller="SCalculate">Calculate & Result</a>
            </td>
        </tr>
    </table>
  
    
</div>
